body{
    background:linear-gradient(to right,#1e828f,#315896);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

.container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    display: grid;
    place-items: center;
    background: rgba(8, 8, 8, 0.3);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 15px black;
    border: 1px solid rgba(255, 255, 255, 0.308);
    transition: 1.5s all;
}


/*
.container2{
    margin: 10px;
    display: flex;
    flex-direction: row;
    background: rgba(29, 28, 28, 0.1);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 15px black;
    border: 1px solid rgba(255, 255, 255, 0.308);
    transition: 1.5s all;
} */

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(30px))) {
    container {
      background: rgba(236, 16, 16, 0.8);
      -webkit-backdrop-filter: blur(20px);
              backdrop-filter: blur(20px);
    }
  }

#outpTemp{
    font-size: 4rem;
    font-weight: bolder;
    margin: 0;
}

#outpOrt{
    font-size: 2rem;
    margin: 0;
}

#outpWeather{
    font-size: 2rem;
    margin: 0;
}

#outCitys{
    max-width: 300px;
}

input{
    background-color: rgba(0, 0, 0, 0.9);
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(3, 21, 24);
    color: white;
    font-weight: bold;
    margin: 5px;
}

#errorLeiste{
    background: red;
    color: black;
    font-weight: bold;
}


ul{
    max-height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    text-align: center;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
}


.smallbutton{
    width: 70px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.outputLabel{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    text-shadow: 3px 3px 15px black;
}

.sunsetLabel{
    color: yellow;
    font-weight: bold;
}

.imag{
    background: rgba(39, 203, 224, 0.185);
    border-radius: 50%;
    backdrop-filter: blur(30%);
    -webkit-backdrop-filter:blur(30%);
    -moz-backdrop-filter: blur(30px);
    box-shadow: 5px 5px 15px black;
    border: 1px solid rgba(255, 255, 255, 0.308);
}

.foreCastCont{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    width: 90%;
    padding: .8rem;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);

}

.forecastImg{
    height: 30px;
    width: 30px;

}

.day{

   margin: auto;
}

.forecastText{
    height: 10px;
    margin: 0;
    font-size: 0.8rem;
}


.hourForecastContainer{
    display: flex;
    overflow-x: auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(158, 156, 156, 0.308);
}

.std{
    margin-right: 15px;
}

.forecastTextHour{
    font-size: 0.6rem;
}

.backgroundLayer{
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 50%;
    background-color: rgba(243, 243, 164, 0.951);
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
}

.cont{
    display: flex;
    justify-content: center;
}

.addDelButton{
    font-size: 90%;
    padding: 10%;
    display: grid;
    place-content: center;
    min-width: 80%;
}

/* #coverLayer{
    position: fixed;
    inset:0 0 0 0;
    height: 900px;
    width: 900px;
    margin-top: 17%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    z-index: 50;
    background: rgba(255, 255, 255, 0.308);
} */


@media (max-width: 500px){

    input{
        width: 130px;
        font-size: 0.7rem;
    }


}



/* Toast Notification */

/* Der Toastcontainer soll unten rechts fixiert werden */
#toasts{
    position: fixed;
    bottom: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
    max-height: 200px;
    overflow-y: auto;
    transition: transform 0.4s ease;
}

/* Nachrichtenbox (Toast) Styling */
.toast{
    border-radius:  20px 20px 0 20px ;
    padding: 1rem 2rem;
    margin: .5rem;
    font-weight: bold;
}
.toast.alert{
    background-color: rgb(105, 6, 6);
    color: white;
}
.toast.success{
    background-color: lightgreen;
    color: black;
}
.toast.info{
    background-color: lightblue;
    color: black;
}
.toast.warning{
    background-color: yellow;
    color: black;
}
