body {
  background: -webkit-gradient(linear, left top, right top, from(#2da6b6), to(#4472bc));
  background: linear-gradient(to right, #2da6b6, #4472bc);
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

.container {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(8, 8, 8, 0.3);
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 15px black;
          box-shadow: 3px 3px 15px black;
  border: 1px solid rgba(255, 255, 255, 0.308);
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}

@supports ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
  container {
    background: rgba(236, 16, 16, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

#outpTemp {
  font-size: 4rem;
  font-weight: bolder;
  margin: 0;
}

#outpOrt {
  font-size: 2rem;
  margin: 0;
  z-index: 10000;
}

#outpWeather {
  font-size: 2rem;
  margin: 0;
}

#outCitys {
  width: 80%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.inputField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px;
}

input {
  background-color: rgba(255, 255, 255, 0.9);
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 3px;
  color: black;
}

button {
  width: 100%;
  min-height: 40px;
  padding: 7px;
  border-radius: 10px;
  background-color: rgba(3, 21, 24, 0.6);
  color: white;
  font-weight: bold;
  margin: 3px;
}

#errorLeiste {
  background: red;
  color: black;
  font-weight: bold;
}

.smallbutton {
  width: 60px;
  min-height: 40px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.outputLabel {
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  text-shadow: 3px 3px 15px black;
}

.outputLabel2 {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
  font-weight: bold;
  text-shadow: 3px 3px 15px black;
}

.sunsetLabel {
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.imag {
  background: rgba(39, 203, 224, 0.185);
  border-radius: 50%;
  backdrop-filter: blur(30%);
  -webkit-backdrop-filter: blur(30%);
  -moz-backdrop-filter: blur(30px);
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
  border: 1px solid rgba(255, 255, 255, 0.308);
  -webkit-box-shadow: 0 0 15px white, inset 0 0 20px white;
          box-shadow: 0 0 15px white, inset 0 0 20px white;
  border: 1px solid rgba(221, 215, 215, 0.336);
}

.foreCastCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 15px;
  /* margin: auto; */
  width: 90%;
  max-width: 600px;
  padding: 0.8rem;
  height: 80px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
  border: 2px solid rgba(255, 255, 255, 0.356);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.forecastImg {
  height: 30px;
  width: 30px;
}

.day {
  margin: 5px;
}

.forecastText {
  height: 10px;
  margin: 0;
  font-size: 0.8em;
}

.forecastText.active {
  font-size: 0.6em;
  margin-top: -8px;
}

.hourForecastContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  width: 90%;
  max-width: 600px;
  border: 2px solid rgba(255, 255, 255, 0.356);
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(158, 156, 156, 0.308);
  -webkit-box-shadow: 5px 5px 5px black, inset 10px 8px 15px black;
          box-shadow: 5px 5px 5px black, inset 10px 8px 15px black;
  margin: auto;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.std {
  margin-right: 15px;
}

.forecastTextHour {
  font-size: 0.6rem;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addDelButton {
  font-size: 90%;
  padding: 10%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-width: 80%;
}

@media (max-width: 500px) {
  input {
    width: 130px;
    font-size: 0.7rem;
  }
  #toasts {
    position: fixed;
    top: 0;
    right: 10px;
  }
}

/* Toast Notification */
/* Der Toastcontainer soll unten rechts fixiert werden */
#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 15px;
  max-height: 200px;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 100005;
}

/* Nachrichtenbox (Toast) Styling */
.toast {
  border-radius: 20px 20px 0 20px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  font-weight: bold;
}

.toast.alert {
  background-color: #690606;
  color: white;
}

.toast.success {
  background-color: lightgreen;
  color: black;
}

.toast.info {
  background-color: lightblue;
  color: black;
}

.toast.warning {
  background-color: yellow;
  color: black;
}

.containerWrapper {
  width: 100%;
  max-width: 1000px;
  height: auto;
  background-color: transparent;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.miniContainer {
  width: 37%;
  max-width: 270px;
  height: 200px;
  font-size: 16px;
  background-color: #0b182d56;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px black;
          box-shadow: 0 5px 5px black;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.small {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 5px;
  color: white;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 20px auto;
  -webkit-box-shadow: 0 15px 10px black;
          box-shadow: 0 15px 10px black;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.small a {
  color: black;
}

#detainTextAirQuality {
  font-size: 0.8em;
  text-align: center;
}

.infobutton {
  display: none;
}

.infobutton.active {
  display: block;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.886);
}

.moreAirQualityInfo {
  display: none;
}

.moreAirQualityInfo.active {
  display: block;
  -webkit-animation: openSmooth 0.7s ease-in-out;
          animation: openSmooth 0.7s ease-in-out;
}

@-webkit-keyframes openSmooth {
  0% {
    height: 0px;
    color: transparent;
  }
  100% {
    height: 150px;
    color: white;
  }
}

@keyframes openSmooth {
  0% {
    height: 0px;
    color: transparent;
  }
  100% {
    height: 150px;
    color: white;
  }
}

.outputVal {
  font-size: 1em;
}

#progress_UV {
  width: 80%;
  margin: 0 auto;
}

#progress_Temp {
  width: 80%;
  margin: 0 auto;
}

.descr {
  font-size: 9px;
  margin-top: -1px;
  letter-spacing: 2px;
}

.smallTemp {
  font-size: 10px;
  margin-bottom: -5px;
  letter-spacing: 2px;
}

.tempContainer {
  width: 100%;
  max-width: 600px;
  height: 130px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.356);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.col {
  width: 15px;
  height: 80px;
  border-radius: 4px;
  background-color: orange;
}

.wind {
  width: 2px;
  height: 40px;
  background-color: white;
  margin: 50px auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wind::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 15px;
  border-radius: 40%;
  background-color: red;
  margin: 38px -3px;
}

.sticky-top {
  position: fixed;
  /* width: 180px; */
  top: 0;
  margin: 0 auto;
  z-index: 100;
  font-size: 1.5em;
  background-color: #090b0d61;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: ping 12s infinite;
          animation: ping 12s infinite;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

@-webkit-keyframes ping {
  0% {
    -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
  }
  50% {
    -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.507);
            box-shadow: 0 0 50px rgba(255, 255, 255, 0.507);
  }
  100% {
    -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
  }
}

@keyframes ping {
  0% {
    -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
  }
  50% {
    -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.507);
            box-shadow: 0 0 50px rgba(255, 255, 255, 0.507);
  }
  100% {
    -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
  }
}

.optionfield {
  background-color: #315896bb;
  color: white;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: 150px;
  letter-spacing: 1.5px;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  margin-bottom: 15px;
}

.karte {
  height: 300px;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

.outpCurrTime {
  margin: 0 0 30px 0;
  letter-spacing: 1.5px;
  font-size: 0.8em;
  text-shadow: 3px 3px 15px black;
}

.sunstand {
  width: 100px;
  height: 1px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 15px 30px 15px;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.sunstand::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid yellow;
  background-color: white;
  -webkit-box-shadow: 0 0 15px yellow;
          box-shadow: 0 0 15px yellow;
}

.tomorrowCont {
  height: auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 30px;
  margin: 30px auto;
  -webkit-box-shadow: 0 15px 10px black;
          box-shadow: 0 15px 10px black;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.alertContainer {
  display: none;
}

.moreAlertInfo {
  display: none;
}

.moreAlertInfo.active {
  display: block;
}

.alertContainer.active {
  display: block;
  background-color: rgba(255, 0, 0, 0.685);
  color: white;
  font-weight: bold;
  height: auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 30px auto;
  -webkit-box-shadow: 0 15px 10px black;
          box-shadow: 0 15px 10px black;
  padding-bottom: 25px;
}

.alertContainer.active p {
  padding: 10px;
  font-size: 0.8em;
}

.settingsbutton {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.486);
  z-index: 10002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.settingArea {
  display: none;
}

.settingArea.active {
  display: block;
  width: 95%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10001;
  border-radius: 0 15px 15px 15px;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  border: 1px solid darkslategray;
}

.saveButton {
  background-color: green;
  width: 40%;
  max-width: 200px;
  margin: 30px auto;
  padding: 10px 3px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 8px white;
          box-shadow: inset 0 0 8px white;
  cursor: pointer;
}

.darkMode {
  background: -webkit-gradient(linear, left top, right top, from(#102123), to(#020508));
  background: linear-gradient(to right, #102123, #020508);
}

.normalMode {
  background: -webkit-gradient(linear, left top, right top, from(#2da6b6), to(#4472bc));
  background: linear-gradient(to right, #2da6b6, #4472bc);
}

.lightMode {
  background: -webkit-gradient(linear, left top, right top, from(#f5f5f5), to(#5a5e65));
  background: linear-gradient(to right, #f5f5f5, #5a5e65);
}

#outUvIndx {
  font-size: .8em;
}
/*# sourceMappingURL=style.css.map */